body{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: rgb(212,212,212);
}

.globalHeader{
	float: right;
}

.epicOverflowLogo{
	position: relative;
	top: 30px;
	width: 50%;
	height: 100px;
}


.question_page_container{
	width: 90%;
	position: relative;
	margin: 0 auto;
	margin-top: 40px;
}

.question_page_container .all_answers_panel{
	min-width: 800px;
	width: 100%;
	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
}

.avatar_size{
	width: 32px;
	height: 32px;
}

.topNavBar{
	background-color: 
}

.titlePanel{
	width: 100%;
}

.question_title{
	width: 75%;
	display:inline;
}

.question_favorite_icon{
	float:right;
}

.question_comments{
	width: 90%;
	margin: 0 auto;
}

.question_user_and_score_bar{
	margin-bottom: 10px;
}

.answer_user{
	width: 75%;
	display:inline;	
}

.answer_score{	
	float:right;
}

.answer_comments_panel{
	background-color: rgba(230,230,230,1);
}

.user_date{
	float:right;
	margin-top: 10px;
}

.question_user_info{
	margin-top: 30px;
}

.question_user_pic{
	display: inline;	
}

.question_user_info .answer_user{
	margin-left: 5px;
}

.question_no_border{
	border: none;
}
