<table>
	<br><br>Basic User Info:
	<tr ng-repeat="(key, value) in homeData.userInfo">
	  <td> {{key}} </td> <td> {{ value }} </td>
	</tr>
</table>

<table>
	<br><br>Badges Info:
	<tr ng-repeat="(key, value) in homeData.badgesInfo">
	  <td> {{key}} </td> <td> {{ value }} </td>
	</tr>
</table>

<table>
	<br><br>Timeline Info:
	<tr ng-repeat="(key, value) in homeData.timelineInfo">
	  <td> {{key}} </td> <td> {{ value }} </td>
	</tr>
</table>

<table>
	<br><br>Favorites Info:
	<tr ng-repeat="(key, value) in homeData.favoritesInfo">
	  <td> {{key}} </td> <td> {{ value }} </td>
	</tr>
</table>

<table>
	<br><br>Tag Cloud Info:
	<tr ng-repeat="(key, value) in homeData.tagCloudInfo">
	  <td> {{key}} </td> <td> {{ value }} </td>
	</tr>
</table>