<div class="panel panel-default login-panel-text">
    <div class="panel-body">
        Enable access to the EPIC OVERFLOW page by logging into your Stack Overflow account.
    </div>
</div>

<div class="login_page_button_container">
    <li class="service-cell service-welcome" ng-show="!isAuthenticated">
        <a href="" ng-click="stackExchangeLogin()">Log in</a> or <a href="https://stackoverflow.com/users/signup?returnurl=http%3A%2F%2Feolivercoakley.github.io%2F">Create an Account</a>
    </li>
</div>