
Title: {{questionData.questionInfo.title}}
<br><br>
Body: <div ng-bind-html="questionData.questionInfo.body"></div>
<br><br>
Comments on Body:
<div ng-repeat="comment in questionData.questionInfo.comments">
	Comment: <div ng-bind-html="comment.body"></div>
</div>
<br><br>

Answers:
<div ng-repeat="answer in questionData.questionInfo.answers">
	Answer: <div ng-bind-html="answer.body"></div>	
		<div ng-repeat="comment in answer.comments">
			Comment Info: 
				Score: {{comment.score}}
				Created On: <span>{{comment.creation_date | date:'medium'}}</span><br>
				Body: <div ng-bind-html="comment.body"></div>
		</div>
</div>
<br><br>
<button>Set as Favorite?</button>