<!--table ng-repeat="(key, question) in searchData.searchInfo">
	<br><br>Search Info:
	<tr ng-repeat="(_key, value) in question" >
	  <td> {{ _key }} </td> <td> {{ value }} </td>
	</tr>
	<td><button ng-click="searchData.loadQuestion(question.question_id)">Link to question with id: {{question.question_id}}</button></td>
</table-->

<!--div class="panel panel-default"-->

<div class="panel panel-default panel-body" ng-model="sortOrder">
	<div class="inline_search">
		<form novalidate class="simple-form">
			<input type="text" ng-model="searchData.userInputText" />
			<button ng-click="searchData.getSearchInfo(searchData)">Search</button>
		</form>
	</div>
	<div class="sort_by">
		<input type="radio" ng-model="sortOrder" value="-view_count">Most Views</input> | 
		<input type="radio" ng-model="sortOrder" value="-score">Most Votes</input> | 
		<input type="radio" ng-model="sortOrder" value="score">Least Votes</input> | 
		<input type="radio" class="sort_by_radio" ng-model="sortOrder" value="-creation_date">Newest</input> | 
		<input type="radio" ng-model="sortOrder" value="+creation_date">Oldest</input> | 
		<input type="radio" ng-model="sortOrder" value="+title">Title (A-Z)</input> | 
		<input type="radio" ng-model="sortOrder" value="-title">Title (Z-A)</input>
	</div>
</div>
        <br>
<div ng-repeat="(key, question) in searchData.searchInfo | orderBy:sortOrder">
	<div class="panel panel-default">
		<div class="media panel-body" ng-click="searchData.loadQuestion(question.question_id)">
			<span>Title: <span ng-bind-html="validateSnippet(question.title)"></span><br></span>
			<div class="question_metrics">
				<span>Votes: {{question.score}}</span> | 
				<span>Views: {{question.view_count}}</span> | 
				<span>Answers: {{question.answer_count}}</span>
			</div>
			<div class="question_footer">
				<div class=tag_list>
					<span ng-repeat="tag in question.tags">
						<span class="topic_tag">{{tag}}</span>
					</span>
				</div>
				<span class="user_date">Date: {{question.creation_date + "000" | date:'medium'}}</span><br>
			</div>
		</div>
	</div>
	<br>
</div>

<!--/div-->
<div class="tagCloudHolder panel panel-default" >
    <div class="media panel-body">
        <div id="tagging">
            <a class="tagCloud" ng-repeat="question in searchData.searchInfo" ng-click="searchData.loadQuestion(question.question_id)"
               rel="{{question.view_count}}" ng-bind-html="validateSnippet(question.title)">
            </a>
        </div>
    </div>
</div>

<script>
    $.fn.tagcloud.defaults = {
        size: {start: 14, end: 24, unit: 'px'},
        color: {start: '#fff', end: '#2a6496'}
    };
</script>